.bgHome{
 background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../../assets/imgHome.jpg');
 background-size: cover;
}
.estiloDorado {
    border-top: 3px solid transparent; 
    border-bottom: 3px solid transparent; 
    border-left: none;
    border-right: none;
    border-image: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a) 1; 
}
/* .estiloDorado:hover {
    border-top: 3px solid transparent; 
    border-bottom: 3px solid transparent; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-image: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a) 1; 
    box-shadow: 0px 0px 5px rgb(96, 95, 95);
} */

.bgSubCaja{
    background: linear-gradient(rgba(255, 255, 255, 0.611), rgba(255, 255, 255, 0.611));
}

.estiloDoradoBoton {
    border-top: none; 
    border-bottom: 4px solid transparent; 
    border-left: none;
    border-right: none;
    border-image: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a) 1; 
}